n8n/journey-weekly-digest.json
{
  "name": "BuildLoud: Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }]
        }
      },
      "id": "cron-trigger",
      "name": "Every Monday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM journey_entries WHERE created_at >= NOW() - INTERVAL '7 days' ORDER BY social_score DESC LIMIT 30",
        "options": {}
      },
      "id": "query-entries",
      "name": "Fetch Week Entries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Neon DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entries = $input.all().map(i => i.json);\nif (entries.length === 0) {\n  return [{ json: { skip: true, count: 0 } }];\n}\n\nconst summaries = entries.slice(0, 15).map(e =>\n  `[${e.type}] ${e.project}: ${e.summary} (score: ${e.social_score})`\n).join('\\n');\n\nconst ids = entries.map(e => e.id);\n\nreturn [{\n  json: {\n    skip: false,\n    count: entries.length,\n    summaries,\n    ids,\n    prompt: `You are a build-in-public journal assistant for a solopreneur.\\nWrite a weekly digest from these journal entries. Include:\\n1. **Week summary**: 2-3 sentences on themes, energy, and what the week felt like\\n2. **Top 5 moments**: The highest-value entries with a brief note on why each matters for social content\\n3. **Suggested narratives**: 2-3 blog/LinkedIn post angles that could be written from this week's entries\\n\\nEntries (sorted by social-worthiness score, highest first):\\n${summaries}\\n\\nWrite in a warm, authentic voice. This is for the builder to review, not for publishing directly.`\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-entries",
      "name": "Has Entries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "=PASTE_YOUR_ANTHROPIC_API_KEY_HERE" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}",
        "options": {}
      },
      "id": "haiku-digest",
      "name": "Haiku Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst digestContent = response.content?.[0]?.text || 'Failed to generate digest.';\nconst prepData = $('Prepare Prompt').first().json;\n\n// ISO week\nconst d = new Date();\nd.setHours(0, 0, 0, 0);\nd.setDate(d.getDate() + 3 - ((d.getDay() + 6) % 7));\nconst yearStart = new Date(d.getFullYear(), 0, 4);\nconst weekNum = 1 + Math.round(((d - yearStart) / 86400000 - 3 + ((yearStart.getDay() + 6) % 7)) / 7);\nconst week = `${d.getFullYear()}-W${String(weekNum).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    week,\n    digestContent,\n    count: prepData.count,\n    ids: prepData.ids\n  }\n}];"
      },
      "id": "format-digest",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer PASTE_YOUR_RESEND_API_KEY_HERE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"BuildLoud <journal@whateverai.com>\",\n  \"to\": [\"PASTE_YOUR_EMAIL_HERE\"],\n  \"subject\": \"Weekly Build Log: {{ $json.week }}\",\n  \"html\": \"<h1>Weekly Digest: {{ $json.week }}</h1><p>{{ $json.count }} entries this week</p><pre style='font-family: monospace; white-space: pre-wrap;'>{{ $json.digestContent.replace(/\"/g, '\\\\\"') }}</pre>\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE journey_entries SET digest_included_in = '{{ $json.week }}' WHERE id = ANY(ARRAY[{{ $json.ids.map(id => \"'\" + id + \"'\").join(',') }}]::uuid[])",
        "options": {}
      },
      "id": "mark-digested",
      "name": "Mark Entries Digested",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1790, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Neon DB"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 8AM": {
      "main": [[{ "node": "Fetch Week Entries", "type": "main", "index": 0 }]]
    },
    "Fetch Week Entries": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "Has Entries?", "type": "main", "index": 0 }]]
    },
    "Has Entries?": {
      "main": [[{ "node": "Haiku Digest", "type": "main", "index": 0 }]]
    },
    "Haiku Digest": {
      "main": [[{ "node": "Format Digest", "type": "main", "index": 0 }]]
    },
    "Format Digest": {
      "main": [[{ "node": "Send Email (Resend)", "type": "main", "index": 0 }]]
    },
    "Send Email (Resend)": {
      "main": [[{ "node": "Mark Entries Digested", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "buildloud" }]
}
