n8n/journey-pr-hook.json
{
  "name": "Journey Logger: PR Hook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "journey-pr-hook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "journey-pr-hook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-opened",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-action",
      "name": "IF Action Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Also accept merged PRs\nconst body = $input.first().json.body || $input.first().json;\nconst action = body.action;\nconst merged = body.pull_request?.merged || false;\n\nif (action !== 'opened' && !(action === 'closed' && merged)) {\n  return [];\n}\n\nconst pr = body.pull_request;\nreturn [{\n  json: {\n    title: pr.title,\n    body: (pr.body || '').substring(0, 500),\n    repo: body.repository.name,\n    branch: pr.head.ref,\n    action: action,\n    number: pr.number,\n    changed_files: pr.changed_files || 0,\n    merged: merged\n  }\n}];"
      },
      "id": "extract-pr",
      "name": "Extract PR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "=PASTE_YOUR_ANTHROPIC_API_KEY_HERE" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 256,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Classify this PR and write a 1-sentence build-in-public journal summary.\\n\\nRepo: {{ $json.repo }}\\nBranch: {{ $json.branch }}\\nAction: {{ $json.action }}{{ $json.merged ? ' (merged)' : '' }}\\nTitle: {{ $json.title }}\\nBody: {{ $json.body }}\\nFiles changed: {{ $json.changed_files }}\\n\\nRespond with ONLY valid JSON:\\n{\\\"summary\\\": \\\"one sentence summary\\\", \\\"type\\\": \\\"feature|bugfix|refactor|infra|exploration|planning\\\"}\"\n  }]\n}",
        "options": {}
      },
      "id": "haiku-summary",
      "name": "Haiku Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content?.[0]?.text || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch {\n  parsed = { summary: text, type: 'feature' };\n}\n\n// Carry forward PR data from previous node\nconst prData = $('Extract PR Data').first().json;\n\nreturn [{\n  json: {\n    summary: parsed.summary,\n    type: parsed.type || 'feature',\n    project: prData.repo,\n    branch: prData.branch,\n    action: prData.action,\n    pr_number: prData.number,\n    merged: prData.merged\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO journey_entries (project, type, source, summary, notable, social_score, tags, metadata)\nVALUES (\n  '{{ $json.project }}',\n  '{{ $json.type }}',\n  'pr_hook',\n  '{{ $json.summary.replace(/'/g, \"''\") }}',\n  false,\n  0,\n  ARRAY['pr']::text[],\n  '{{ JSON.stringify({ branch: $json.branch, action: $json.action, pr_number: $json.pr_number, merged: $json.merged }).replace(/'/g, \"''\") }}'::jsonb\n)",
        "options": {}
      },
      "id": "write-to-neon",
      "name": "Write to Neon DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1350, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Neon DB"
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{ "node": "IF Action Valid", "type": "main", "index": 0 }]]
    },
    "IF Action Valid": {
      "main": [[{ "node": "Extract PR Data", "type": "main", "index": 0 }]]
    },
    "Extract PR Data": {
      "main": [[{ "node": "Haiku Summary", "type": "main", "index": 0 }]]
    },
    "Haiku Summary": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Write to Neon DB", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "journey-logger" }]
}
